*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}


section{
    width: 50px;
    height: 50px;
    background-color: red;
    margin: 8rem 2rem;
    position: absolute ;
   
}

header {
  width: 100vh;
  height: 20vh;
    background-color: gainsboro;
    position: relative;
}

div{
    width: 50px;
    height: 50px;
    background-color: rgb(26, 10, 174);
    margin: 2rem;
    position: absolute;
    
}

header:hover div {
    transition: all 1s;
    transform: translatex(90vh);
    transition-delay: 2s;
 
}


header:hover section {
   transition: all 2s;
   transform: translatex(90vh);

}