.rechteck {
  height: 40px;
  width: 40px;
  background-color: #d9eeec;
  color: #da9833;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.weiss {
  color: #64b2cd;
  background-color: #da9833;
  border-radius: 50%;
  border: 2px solid #3c70a4;
}

.umwickeln {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  justify-content: center;
  justify-items: center;
  margin-top: 50px;
}

button {
  height: 40px;
  width: 100px;
  background-color: #64b2cd;
  color: #333;
  margin: auto;
  margin-top: 20px;
  display: block;
  border: none;
}
