h2{
    font-size: 48px;
    background-color: black;
    color: white;
    text-align: center;

}

p{
    font-size: 20px;
    color: #333;
}
li{
    color: #777;
font-size: 20px;


}

h3{
    text-decoration: overline;
}

h4{
    text-decoration: line-through;
    text-align: center;
}

h5{
    text-decoration: underline;
    text-align: right;
}